.header {
  /* position: fixed;
  top: 30px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  left: 0;
  right: 2; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header .header__title {
  font-size: 24px;
  font-weight: 700;
}

.header .header__icon {
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.header .header__header-column {
  display: flex;
  /* align-items: center; */
}

.header .header__back-btn {
  font-size: 24px;
  margin-right: 8px;
}
